<div id='competition-edit'>
  <div class="row">
    <div class="span9">
      <h2>Edit Competition <%= @comp.name %></h2>
      <%= form_for @comp, :options => { :class => 'form-horizontal' } do |f| %>
        <%= render partial: "form", :locals => {:f => f} %>
        <div>
          <%= f.submit "Save", :class => 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>