<div id='competition-edit'>
  <div class="row">
    <div class="span9">
      <h2>Edit Competition:</h2>
      <%= form_for @comp do |f| %>
        <%= render partial: "form", :locals => {:f => f} %>
        <div>
          <%= f.submit "Save" %>
        </div>
      <% end %>
    </div>
  </div>
</div>