<div id='competition-index'>
  <div class="row">
    <div class="span9">
      <h2>List Competitions:</h2>
        <ul>
          <% @comps.each do |c| %>
            <li>
              <%= link_to("Edit ", edit_competition_path(:id => c.id)) %>
              <%= link_to("Delete ", competition_path(:id => c.id), :method => :delete) %>
              <%= link_to("Info ", competition_path(:id => c.id)) %>
              <%= "#{c.name} (from #{c.start_date} to #{c.end_date})"%></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>