<div id="welcome-index">
  <div class="row">
    <div class="span9">
      <h2>Upcoming Competitions:</h2>
      <div id="competition-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#competition-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#competition-carousel" data-slide-to="1"></li>
          <li data-target="#competition-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/assets/Bern.jpg" alt="Bern">
            <div class="carousel-caption">
              <p>A test competition in Bern</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/Beijing.jpg" alt="Beijing">
            <div class="carousel-caption">
              <p>A test competition in Beijing</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/Sheffield.jpg" alt="Sheffield">
            <div class="carousel-caption">
              <p>A test competition in Sheffield</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#competition-carousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#competition-carousel" data-slide="next">&rsaquo;</a>
        </a>
      </div>
    </div>
  </div>
</div>

