<div class="row">
  <div class="span9">
    <h2>Events for <%=@comp.name%></h2>
  </div>
</div>
<div class="row">
  <div class="span9">
    <ul class="event-list">
      <% @events.each do |e| %>
        <div class="span3">
          <li>
            <%= render partial: "event", :locals => { :e => e } %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <% if signed_in? %>
      <%= link_to("Add a new event", new_competition_event_path(:competition_id => @comp.id))%>
    <% end %>
  </div>
</div>