<div id='show-event-results'>
  <div class='row'>
    <div class='span9'>
      <h2>Results for <%= @event.name %></h2>
      <ul>
      <% @event.event_registrations.order(:position).each do |er| %>
        <li>
          <%= text_field_tag '', er.position, :class => 'span1 uneditable-input' %>
          <%= text_field_tag '', er.result, :class => 'span1 uneditable-input' %>
          <%= text_field_tag '', er.entry.full_name, :class => 'span3 uneditable-input' %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>