// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 15em;
  border: 2px solid black;
}

.image {
  border: 2px solid black;
}